/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* 
||||||||||   CSS INFO   |||||
Version: 1.9 - Git & Version Control
Start: 19.04.2021
Date:  29.04.2021
*/

/* 
||||||||||   COLORS   |||||||||||

Background Color (Porcelain): #f5f8f8;
Text Color (Dark Gray):	#2b2b2b;
Primary Color (Oracle):	#357b70;
Secondary Color (Red Orange):	#FF4734;
Link active Color (Ocean Green): #479c79;
Visited Link Color (Mosque): #05676d;
Button Color: white;
Button Background Color: #357b70;
Button Border Color: #000000;
Second Button Color: #2b2b2b;
Second Button Background Color: #e0b354;
Grid Background Color: #f0f3f1;
keyframe change - Sun yellow 0%: #edc655;
keyframe change - Sun lightyellow50%: #fcffad;
keyframe change - Sun orange 100%: #f76414;

*/
:root {
  /* Colors */
  /* font */
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #f5f8f8;
  color: #2b2b2b;
  font-family: 'lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: 'lato', sans-serif;
  line-height: normal;
  color: #2b2b2b;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  font-family: 'lato', sans-serif;
  line-height: normal;
  color: #2b2b2b;
}

h3 {
  font-size: 20px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  line-height: normal;
  color: #2b2b2b;
}

p {
  font-size: 16px;
  font-weight: 300;
  font-family: 'lato', sans-serif;
  line-height: 1.6;
  color: #2b2b2b;
}

.strong {
  font-weight: 400;
  color: #357b70;
  font-size: 105%;
  padding: 0px 1.5px;
}

a {
  color: #357b70;
}

a:hover,
a:focus {
  text-decoration: none;
}

a:active {
  color: #479c79;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.5s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.7;
}

.button__secondary {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #357b70;
  color: #ffffff;
  text-decoration: none;
  padding: 1px 5px;
  margin: 30px 0 40px 0;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.5s opacity;
  -o-transition: 0.5s opacity;
  transition: 0.3s opacity;
}

.button-grid a {
  margin-left: 5%;
  padding: 1px 15px;
}

.button__secondary:hover,
.button__secondary:focus {
  cursor: pointer;
  opacity: 0.8;
}

.page {
  position: relative;
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px 50px 0px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.3);
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page-header__item img {
  width: 200px;
  height: 70px;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.page-content {
  margin: 0 auto;
  padding: 20px;
  height: 100%;
  padding-bottom: 95px;
}

.page-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f5f8f8;
}

.social-media img {
  width: 40px;
  margin: 0 5px;
}

.social-media a {
  text-decoration: none;
}

.profile {
  max-width: 700px;
  margin-top: 6%;
  padding: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;

  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.profile__portrait {
  border-radius: 50%;
  max-width: 45%;
  float: left;
  padding: auto;
  margin-right: 40px;
}

.index-text {
  height: 300px;
}

.about-content {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.about-container {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.work-content {
  text-align: center;
}

.work-content .grid__item {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 15px;
}

.work-content .grid__item .img {
  width: 100%;
  height: auto;
  border: #357b70 solid 2px;
  border-radius: 5px;
}

.work-content .button-grid {
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.work-content .tec {
  margin-bottom: 15px;
}

.work-content .tec img {
  width: 6%;
  height: auto;
}

.work-content .api img {
  width: 6%;
  height: auto;
}

.work-content .tec a:link {
  text-decoration: none;
  pointer-events: none;
  padding-left: 2%;
}
.work-content .tec a:visited {
  text-decoration: none;
  pointer-events: none;
  padding-left: 2%;
}

.work-content h2 {
  color: #367b71;
}

.contact-content {
  text-align: center;
}

#contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px;
}

.contact-data {
  padding: 10px;
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

.sun {
  -webkit-animation: 4s color-change infinite alternate linear;
  animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

@keyframes cloud-move {
  from {
    -webkit-transform: translate(0, 50px);
    transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(200px, 50px);
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  -webkit-animation: 25s cloud-move infinite alternate linear;
  animation: 25s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

@keyframes cloud-move-reverse {
  from {
    -webkit-transform: translate(446px, 48px);
    transform: translate(446px, 48px);
  }
  to {
    -webkit-transform: translate(100px, 48px);
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
  animation: 34s cloud-move-reverse infinite alternate linear;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0;
  }

  .grid__item {
    background-color: #f0f3f1;
    width: auto;
    min-height: auto;
    margin: 0;
    text-align: left;
    border: solid 0.5px rgba(0, 0, 0, 0.3);
    padding: 15px;
  }
}

@media all and (max-width: 550.98px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .profile__portrait {
    float: none;
    max-width: 55%;
    margin: 0;
  }

  svg {
    max-width: 75%;
  }

  .page-header__item img {
    height: 35px;
  }

  .profile {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 0;
  }

  .navigation-list li {
    font-size: 16px;
    font-weight: 300;
  }

  .social-media img {
    width: 20px;
    margin: 0 2px;
  }
}

@media all and (min-width: 551px) and (max-width: 789.98px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .profile__portrait {
    /* max-width: 220px;
    margin-top: 20px;
    margin-bottom: 110px; */
  }

  svg {
    max-width: 75%;
  }

  .page-header__item img {
    height: 45px;
  }
}

@media all and (max-width: 789.98px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  .page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .page-header__item {
    -webkit-box-flex: 0;
    -ms-flex: none;
    flex: none;
  }

  .page-header__item:last-child {
    -webkit-box-flex: unset;
    -ms-flex-positive: unset;
    flex-grow: unset;
    text-align: center;
  }

  .navigation-list {
    margin: 0 0 1.5rem 0;
    padding: 0;
  }

  .navigation-list li:first-child {
    margin-left: 0;
  }

  h1 {
    font-size: 24px;
  }

  svg {
    max-width: 75%;
  }

  .social-media img {
    width: 30px;
    margin: 0 3px;
  }
}
